<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div id="settings" class="">
      <div class="row">
        <div>
          <label>Speed (1-10)</label>
          <input type="text" name="speed" placeholder="Speed (1-10)"/>
        </div>
        <div>
          <label>Text size (50-200)</label>
          <input type="text" name="size" placeholder="Text size (50-200)"/>
        </div>
      </div>
      <div class="row">
        <div>
          <label>Background color</label>
          <input type="text" name="background" placeholder="Background color"/>
        </div>
        <div>
          <label>Text color</label>
          <input type="text" name="foreground" placeholder="Text color"/>
        </div>
      </div>
      <div class="row">
        <div>
          <label>Countdown (seconds)</label>
          <input type="text" name="delay" placeholder="Countdown (seconds)"/>
        </div>
        <div>
          <button class="button" onclick="prompter.toggleMirror()">Toggle Mirror</button>
        </div>
      </div>
      <div class="row">
        <div>
          <textarea id="script-text" name="script"></textarea>
        </div>
      </div>
      <div>
        <button class="button blue" onclick="prompter.updateSettings()">Save Settings</button>
        <button class="button" onclick="prompter.hideSettings()">Cancel</button>
      </div>
    </div>
    <div id="toolbar">
        <button class="button blue" onclick="prompter.start()">Start</button>
        <button class="button blue" onclick="prompter.stop()">Stop</button>
        <button class="button blue" onclick="prompter.reset()">Reset</button>
        <button class="button blue" onclick="prompter.showSettings()">Settings</button>
    </div>
    <div id="script">
      <p></p>
    </div>
    <div id="countdown-mask">
      <div id="countdown"></div>
    </div>
  </body>
</html>